
<%= form_tag session_path do %>
<div class="field">
  <%= label_tag 'email', 'E-mail:', :class => 'labelLogin' %>
<%= text_field_tag :email,nil,:size => 16 %>
</div>
<div class="field">
<%= label_tag 'password', 'Palavra chave:', :class => 'labelLogin' %>
<%= password_field_tag :password, '', :size => 16 %>
</div>
<div class="actions">
<%= submit_tag 'Entrar', :class=>'botaoLogin' %>
</div><br/>
<div id="recuperarPass" >
  <%=  link_to "Perdeu a palavra chave?","/users/setpass", :remote => true %>
</div>
<% end %>
