<h3 id="advecedSeachTitle">Pesquisa Avançada</h3>
<div id="tabsConteiner">
<div id="tabs" >
 <br/>
    <ul>
        <li><a href="#fragment-1"><span>Hoteis</span></a></li>
        <li><a href="#fragment-2"><span>Restaurantes</span></a></li>
        <li><a href="#fragment-3"><span>Pontos de Interesse</span></a></li>
        <li><a href="#fragment-4"><span>Eventos</span></a></li>
        <li><a href="#fragment-5"><span>Artigos do Blogue</span></a></li>
    </ul>
    <div id="fragment-1" class="tabsContents">
        Pesquisa avançada para Hoteis

        <br/>
       
    </div>
    <div id="fragment-2"class="tabsContents">
      <div id="restaurant_adv_search_form">
         <%= form_tag('/restaurants/advanced_search/', :method => "post") do %>

        <table>
          <tr>
            <td>
               <%= label_tag(:restaurant_name, "Nome Restaurante:") %>
            </td>
            <td>
              <%= text_field_tag(:restaurant_name,"",{ :maxlength => 30, :size => 30}) %>
            </td>
          </tr>
          <tr>
            <td>
               <%= label_tag(:restaurant_owner, "Dono:") %>
            </td>
            <td>
              <%= text_field_tag(:restaurant_owner,"",{ :maxlength => 30, :size => 30}) %>
            </td>
          </tr>
          <tr>
            <td>
               <%= label_tag(:district, "Distrito:") %>
            </td>
            <td>
              <%= text_field_tag(:district,"",{ :maxlength => 30, :size => 30}) %>
            </td>
          </tr>
          <tr>
            <td>
               <%= label_tag(:city, "Cidade:") %>
            </td>
            <td>
              <%= text_field_tag(:city,"",{ :maxlength => 30, :size => 30}) %>
            </td>
          </tr>
          <tr>
            <td>
               <%= label_tag(:county, "Concelho:") %>
            </td>
            <td>
              <%= text_field_tag(:county,"",{ :maxlength => 30, :size => 30}) %>
            </td>
          </tr>
          <tr>
            <td>
               <%= label_tag(:location, "Localidade:") %>
            </td>
            <td>
              <%= text_field_tag(:location,"",{ :maxlength => 30, :size => 30}) %>
            </td>
          </tr>
          <tr>
            <td>
               <%= label_tag(:email, "E-mail:") %>
            </td>
            <td>
              <%= text_field_tag(:email,"",{ :maxlength => 30, :size => 30}) %>
            </td>
          </tr>
          <tr>
            <td>
               <%= label_tag(:phone_number, "Telefone:") %>
            </td>
            <td>
              <%= text_field_tag(:phone_number,"",{ :maxlength => 30, :size => 30}) %>
            </td>
          </tr>
           <tr>
            <td>
              Tipo de gastronomia:
            </td>
            <td>
               
    <%  i = 1   %>
    <% for category in @restaurant_categories_type1 %>
           
           
             
      <%= check_box_tag("restaurant[restaurant_categories][tipe_1_ids][]",category.id) %>
      <%= category.name %>
              <% if i % 5 == 0 %>
              <br/>
             <%    
              end
            %>

        <%   i = i +1
    end %>
            </td>
          </tr>
                <tr>
            <td>
              Gama de preço:
            </td>
            <td>
               <%  i = 1   %>
             <% for category in @restaurant_categories_type2 %>
              <%= check_box_tag("restaurant[restaurant_categories][tipe_2_ids][]",category.id) %>
              <%= category.name %>
            <% if i % 3 == 0 %>
              <br/>
             <%
              end
            %>

        <%   i = i +1
    end %>
            </td>
          </tr>
          <tr>
            <td>
            Zona de Fumadores:
            </td>
            <td>
            <%= radio_button_tag 'smokers', "indiferente", true  %>Indiferente &nbsp;<%= radio_button_tag 'smokers', "sim", false  %>Sim&nbsp;<%= radio_button_tag 'smokers', "nao", false  %>Não
            </td>
          </tr>
          <tr>
            <td>
            Acesso a defecientes:
            </td>
            <td>
            <%= radio_button_tag 'defs', "indiferente", true  %>Indiferente &nbsp;<%= radio_button_tag 'defs', "sim", false  %>Sim&nbsp;<%= radio_button_tag 'defs', "nao", false  %>Não
            </td>
          </tr>
          <tr>
            <td>
            Multibanco:
            </td>
            <td>
            <%= radio_button_tag 'mb', "indiferente", true  %>Indiferente &nbsp;<%= radio_button_tag 'mb', "sim", false  %>Sim&nbsp;<%= radio_button_tag 'mb', "nao", false  %>Não
            </td>
          </tr>
        </table>
      

        
      <%= submit_tag("Pesquisar", :id => "rest_adv_search_button") %><br/>
    <% end %>
     </div>
    </div>
    <div id="fragment-3"class="tabsContents">
      Pesquisa avançada para Hoteis
      <br/>
    </div>
  <div id="fragment-4"class="tabsContents">
    Pesquisa avançada para Eventos
      <br/>
    </div>
  <div id="fragment-5"class="tabsContents">
    Pesquisa avançada para Artigos do Blog
      <br/>
    </div>
</div>
  </div>