<form accept-charset="UTF-8" action="/search/simplesearch" class="new_user"  id="simpleSearchForm" method="get">
  <div style="margin:0;padding:0;display:inline">
    <input name="utf8" type="hidden" value="✓"/>
    </div>      
      <div class="field">
        <input id="search_input" name="search_input" size="30" value="Pesquisar..." type="text"/>
      </div>
      <div class="">
        <img id="searchButton" src="/images/search_button_green.png" alt="Pesquisar"/><%= link_to "/search/advancedsearch", :remote=>true do %>   <img id="searchPlus" src="/images/maisPesquisa.png"  alt="Pesquisa Avançada" />
 <% end %>
      </div>
</form>
