//$("[class^='boxy-']").remove();

//new Boxy('<%= escape_javascript render(:partial => 'advanced_search') %> ', {title: "Pesquisa Avançada", modal:true, closeText:"<img src='/images/x.png' />"}, function() { alert("Confirmed!"); });

$.fancybox(
		'<%= escape_javascript render(:partial => 'advanced_search') %> ',
		{
        		'autoDimensions'	: true,
			'width'         		: 'auto',
			'height'        		: 'auto',
			'transitionIn'		: 'none',
			'transitionOut'		: 'none',
                        'overlayColor'          : '#000'
                        
                        
		}
	);

        $("#tabs").tabs();