<html>
<body>
<p>
<%= @user.name %>, para poder mudar a sua pass deve clicar no seguinte link <a href="http://<%= @host_name %>/users/resetpass?key=<%= @hash_request %>">mudar password</a>
</p>
<p>

</p>
</body>
</html>

