.boxy-wrapper { position: absolute; }
.boxy-wrapper.fixed { position: fixed; }

/* Modal */

.boxy-modal-blackout { position: absolute; background-color: black; left: 0; top: 0; }

/* Border */

.boxy-wrapper { empty-cells: show; }
.boxy-wrapper .top-left,
.boxy-wrapper .top-right,
.boxy-wrapper .bottom-right,
.boxy-wrapper .bottom-left { width: 5px; height: 5px; padding: 0 }

.boxy-wrapper .top-left { height: 2px; background-color:  #0e183f;  width: 2px;}
.boxy-wrapper .top-right { height: 2px; background-color:  #0e183f;  width: 2px;}
.boxy-wrapper .bottom-right { height: 2px; background-color: #0e183f;  width: 2px;}
.boxy-wrapper .bottom-left {height: 2px; background-color: #0e183f; width: 2px;}

/* IE6+7 hacks for the border. IE7 should support this natively but fails in conjuction with modal blackout bg. */
/* NB: these must be absolute paths or URLs to your images */
.boxy-wrapper .top-left { #background: none; #filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/boxy-nw.png'); }
.boxy-wrapper .top-right { #background: none; #filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/boxy-ne.png'); }
.boxy-wrapper .bottom-right { #background: none; #filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/boxy-se.png'); }
.boxy-wrapper .bottom-left { #background: none; #filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/boxy-sw.png'); }

.boxy-wrapper .top,
.boxy-wrapper .bottom { height: 2px; background-color: #0e183f; opacity: 0.8; filter: alpha(opacity=80); padding: 0 }

.boxy-wrapper .left,
.boxy-wrapper .right { width: 2px; background-color: #0e183f; opacity: 0.8; filter: alpha(opacity=80); padding: 0 }

/* Title bar */

.boxy-wrapper .title-bar { padding: 8px; position: relative;border-bottom:  0px groove; border-color: #212736;   }
.boxy-wrapper .title-bar.dragging { cursor: move; }
.boxy-wrapper .title-bar h2 { font-size: 14px; font-family: Arial; color: #212736; line-height: 1; margin-left:  10px; text-align: left; font-weight:  bold;  }
.boxy-wrapper .title-bar .close { color: #E03F00; position: absolute; top: 2px; right: 6px; font-size: 12px; line-height: 1; margin-right: 5px; font-family: Arial; font-weight: bold;}

/* Content Region */

.boxy-inner { background-color: white; padding: 0 }
.boxy-content { padding: 15px;}

/* Question Boxes */

.boxy-wrapper .question { width: 350px; min-height: 80px; }
.boxy-wrapper .answers { text-align: right; }
