#conteudosUser{
    margin-left:  auto;
    margin-right: auto;
    border: 0px solid red;
    width: 882px;
    margin-top: 0px;
}
#conteudosLeft{
    width: 580px;
    border: 0px solid;

}
#conteudosRight{
    width: 300px;
    border: 0px solid;

}
.contentsOptions{
    margin-left: 20px;
    color: white;
    font-family: Georgia;
    font-size: 14px;
    font-weight: bolder;
    height: 20px;
    width: 230px;
    background-color: #0e183f;
    padding-left: 15px;
    padding-top: 4px;
    float: right;
    margin-top: 15px;
}
.contentsOptions:hover{
    margin-left: 20px;
    color: #0e183f;
    font-family: Georgia;
    font-size: 14px;
    font-weight: bolder;
    float: right;
    height: 20px;
    width: 230px;
    background-color: #FF530D;
    padding-left: 15px;
    padding-top: 4px;
}
.contentsOptions a{
    text-decoration: none;
    color: white;

}
.contentsOptions:hover a{
    text-decoration: none;
    color: #0e183f;

}
.contentstitles{
    background-image: url(../images/blueBarr.png);
    background-repeat: repeat-x;
    color: white;
    font-family: Georgia;
    font-size: 16px;
    font-weight: bolder;
    height: 25px;
    padding-left: 15px;
    padding-top: 7px;
    width: 565px;
    margin-top: 15px;
}