/*
    Document   : restaurants
    Created on : Jan 17, 2011, 2:04:47 PM
    Author     : tiago
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#restaurant_show{
    width: 960px;
}
#restaurant_show #restaurant_left{
    width: 580px;
    border: 0px solid;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}
#limpesa{
    clear: both;
}
#restaurant_show #restaurant_right{
    width: 316px;
    border: 0px solid;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 10px;

}
#rest_name{
    top: 30px;
    padding-left: 15px;
    font-family: Gerorgia;
    font-size: 17px;
    font-weight: bold;
    color: #5AA1C1;
    position: absolute;
}
#rest_owner{
    margin-left: 15px;
    position: absolute;
    top:65px;
    font-family: Gerorgia;
    font-size: 15px;
    color: #5AA1C1;
}
#restOptions{
    height: 28px;
    width: 100%;
    float: left;
    margin: 0px;

}
.restButtons{

    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    background-image: url('../images/blueBar.png');
    background-repeat: repeat-x;
    color: white;
    float: left;
    margin-left: 0px;
    font-family: Arial;

    font-weight: bolder;

}
.restButtons a{
    text-decoration: none;
    color: white;
}
.restButtons:hover{

    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    background-image: url('../images/orangeBarr.png');
    background-repeat: repeat-x;
    color: white;
    float: left;
    margin-left: 0px;
    font-family: Arial;

    font-weight: bolder;

}
#localTitle{
    margin-top: 40px;
    color: #0e183f;
    font-family: Arial;
    font-size: 18px;
    font-weight: bolder;
}
#restFotos{
    border: 3px #0e183f solid;
    width: 100%;
    height: 300px;
    padding-top: 0px;
    margin-top: 0px;
    position: relative;


}
#starRating{
    margin-left: 265px;
    position: absolute;
    top:80px;
    font-family: Gerorgia;
    font-size: 15px;
    color: #5AA1C1;
}
.rest_labels{
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 20px;
    font-family: Gerorgia;
    font-size: 15px;
    color: #5AA1C1;
    font-weight: bolder;

}
.rest_labels2{
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 0px;
    font-family: Gerorgia;
    width: 180px;
    font-size: 12px;
    color: #0e183f;
    font-weight: bolder;
    float: left;

}
.rest_data{
    margin-left: 10px;
    font-family: Arial;
    font-size: 12px;
    color: #0e183f;


}
.classificacao{
    color: #FF530D;
    font-family: Arial;
    font-size: 14px;

}
#star{
    position: absolute;
    top: 90px;
    left: 145px;

}
#usersRating{
    position: absolute;
    left: 460px;
    top: 70px;
}
#rating_message{
    color: #459e00;
    font-family: Arial;
    font-size: 14px;
    position: absolute;
    top: 110px;
    left: 250px;

}
.procimidades{
    color:#0e183f;
    font-size: 16px;
    font-family: Arial;
    width: 300px;
    height: 25px;
    padding-left: 15px;
    padding-top: 7px;
    background-image: url('../images/orangeBarr.png');
    background-repeat: repeat-x;
    font-weight: bolder;
}
.usersComentsTitle{
    color:white;
    font-size: 16px;
    font-family: Arial;
    width: 580px;
    height: 25px;
    padding-left: 15px;
    padding-top: 7px;
    background-image: url('../images/blueBar.png');
    background-repeat: repeat-x;
    font-weight: bolder;
}
.comment_content{
    width: 570px;
    border: 1px solid #5AA1C1;
    padding: 10px;
    margin-top: 10px;

}
.comment_thumb{
    width: 60px;
    float: left;
}
.comment_text{
    width: 500px;
    border: 0px solid #0e183f;
    float: left;
    padding-left: 5px;
    color: #0e183f;
    font-family: Arial;
    margin-top:  5px;
    font-size: 12px;
}
.clean{
    clear: both;
}
.comment_title{
    color: #FF530D;
    font-family: Arial;
    font-weight: bolder;
    margin-top:  5px;
    font-size: 12px;
}
.comment_date{
    color: #FF530D;
    font-family: Arial;
    font-weight: bolder;
    margin-top:  5px;
    font-size: 12px;
    float: right;
}
.pagination{
    color: #0e183f;
    font-family: Arial;
    font-weight: bolder;
    margin-top:  5px;
    font-size: 12px;
    text-align: center;

}
.pagination a{
    color: #FF530D;
    text-decoration: none;

}
#restaurantsHome{
    width: 100%;


}
.restaurantsSugestions{
    width: 880px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border: 0px solid #0e183f;
}
.restaurantsSugestions h1{
    color: #0e183f;
    font-family: arial;
    font-size: 22px;
    margin: 0px;
    padding: 0px;
}
.restaurant_sugestions_titles{
       color: #0e183f;
    font-family: arial;
    font-size: 22px;
    margin: 0px;
    padding: 0px;
}
.restaurantsSugestions td{
    width: 170px;
    text-align: left;

}
.restaurantsSugestions td a{
    text-decoration: none;
    color:  #0e183f;
}
.restaurantsSugestions td a:hover{
    text-decoration: none;
    color:  #FF530D;
}
#restSearchResults{
    width: 100%;
    border: 0px solid #0e183f;

}
#restSearchResults #esq{
    width: 580px;
    border: 0px solid #0e183f;
    float: left;
    margin-left: 20px;


}
#restSearchResults #dir{
    width: 335px;
    border: 0px solid #0e183f;
    float: right;
    margin-right: 20px;
}
#restSearchResults #esq #title{
    color:white;
    font-size: 16px;
    font-family: Arial;
    width: 560px;
    height: 25px;
    padding-left: 15px;
    padding-top: 7px;
    background-image: url('../images/blueBar.png');
    background-repeat: repeat-x;
    font-weight: bolder;

}
#sugestionsTitle{
    color:#0e183f;
    font-size: 16px;
    font-family: Arial;
    width: 320px;;
    height: 25px;
    padding-left: 15px;
    padding-top: 7px;
    background-image: url('../images/orangeBarr.png');
    background-repeat: repeat-x;
    font-weight: bolder;
}
.restaurant_result{
    width: 540px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #5AA1C1;
    padding: 10px;
    margin-top: 10px;
}
.restaurant_result .esq{
    float: left;
    width: 106px;
    border: 0px solid #459e00;
}
.restaurant_result .dir{
    float: left;
    width: 290px;
    border: solid 0px yellow;
    padding-left: 5px;
    padding-right:  5px;
}
.rest_logo_thumb{
    border: solid 3px #0e183f;
}
.restaurant_result .dir h3{
    color: #0e183f;
    font-family: Arial;
    padding: 0px;
    margin: 0px;
    font-size: 16px;

}
.restaurant_result .dir .rest_classification{
    color:#FF530D;
    font-family: Arial;
    padding: 0px;
    margin: 0px;
    font-size: 12px;

}
.restaurant_result .dir .label{

    color:#FF530D;
    font-family: Arial;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
}
.restaurant_result .dir .data{

    color:#0e183f;
    font-family: Arial;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
}
#restSearchResults #esq a{
    text-decoration: none;
}
#noComments{

    color:#0e183f;
    font-family: Arial;
    padding: 0px;
    margin: 0px;
    font-size: 13px;
}
#buttonVisualizar{
    width: 130px;
    height: 60px;
    background-image: url('../images/botaoA.png');
    float: right;
    border: 0px solid #0e183f;
    margin-top: 60px;
   
   
}
#buttonVisualizar:hover{
    width: 130px;
    height: 60px;
    background-image: url('../images/botaoB.png');
    float: right;
    border: 0px solid #0e183f;
    margin-top: 60px;


}
.no_restaurant_results{
    
 color:#0e183f;
    font-family: Arial;
   margin-left: 20px;
    font-size: 13px;
}