/*
    Document   : style
    Created on : 15/Nov/2010, 15:09:11
    Author     : Tiago
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root {
    display: block;
}
html{
    margin: 0px;
}
body{
    margin: 0px;
    background-color: #F9F9F9;
    background-image: url('../images/AllBG.png');
    background-repeat: repeat-y;
    background-repeat: repeat-x;

}
.mainHeader{
    width: 990px; margin: auto;position:relative;
}
.main0{
    background-image: url('../images/bodyshadow.png');
    background-repeat: repeat-y;
    background-position: center;
    width: 990px; margin: auto;position:relative;


}
.main1{


    width: 960px; margin: auto;position:relative;
}
.contents{
    margin: 0px;
    background-color: white;
}
.header{
    background-image: url('../images/Logo-Azul_laranja_verde_2011_02_17.png'); height: 175px;
    position: relative;
    width: 990px;

}
.footer{
    background-image: url('../images/footer4.png');
    background-position: center;
    margin: auto;position: absolute;
    color:  #fff;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    
    height: 0px;
    height: 42px;
    text-align: center;
    width: 990px;
}
#footerContents{
    margin-top: 8px;
}

.menu{
    height: 28px;
    width: 780px;
    margin-left: 180px;
    border-collapse: collapse;
    display: table-cell;

    vertical-align: text-bottom;
    color: red;
    position: absolute;
    bottom: 3px;
}
#login {
      position: absolute;
    top: 25px;
    right: 30px;
    height: 20px;
    padding: 0px;
    padding-top: 2px;
    width: 55px;
    opacity: 0.9; filter: alpha(opacity=90);
    background-color:  #0e183f;
    text-align: center;

}
#login:hover{
    background-color: #FF530D;
}
#logout{
    position: absolute;
    top: 25px;
    right: 30px;
    height: 20px;
    padding: 0px;
    padding-top: 2px;
    width: 55px;
    opacity: 0.9; filter: alpha(opacity=90);
    background-color:  #0e183f;
    text-align: center;


}
#logout:hover{

    background-color: #FF530D;

}
#logout a {
    z-index: 1000;
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    font-family: Arial;
    margin-top: 5px;
}

#perfilButton{
    position: absolute;
    top: 25px;
    right: 95px;
    height: 20px;
    padding: 0px;
    padding-top: 2px;
    width: 105px;
    opacity: 0.9; filter: alpha(opacity=90);
    background-color:  #0e183f;
    text-align: center;
}
#perfilButton:hover{
    background-color: #FF530D;

}
#perfilButton a {
    z-index: 1000;
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    font-family: Arial;
    margin-top: 5px;
}
#conteudosButton{
    position: absolute;
    top: 25px;
    right: 210px;
    height: 20px;
    padding: 0px;
    padding-top: 2px;
    width: 150px;
    opacity: 0.9; filter: alpha(opacity=90);
    background-color:  #0e183f;
    text-align: center;
}
#conteudosButton:hover{
    background-color: #FF530D;

}
#conteudosButton a{
     z-index: 1000px;
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    font-family: Arial;
    margin-top: 5px;
}
#loginForm {
    z-index: 1000;
    position: absolute;
    top: 40px;
    right: 30px;
    background: #dce6ff;
    padding: 5px;
    -moz-border-radius: 4px;
    width: 155px;
    margin-top: 10px;
    display: none;
}

#loginForm label, #loginForm input {
    display: block;
}
#ui_block_div{
    position:fixed;top:0;bottom:0;left:0;right:0;z-index:10;display:none;
}


#login a {
     z-index: 1000;
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    font-family: Arial;
    margin-top: 5px;

}

#login a.active {
    background-position: right 8px;
    background-color: #DCE6FF;
    color: #212736;
}
.labelLogin{
    font-family: Arial;
    font-size: 12px;
    color: #212736;
    font-weight: bold;
    padding: 3px;
}
.botaoLogin{
    font-family: Arial;
    font-size: 12px;
    color: #212736;
    font-weight: bold;
    margin-top: 5px;
    float: right;
    margin-right: 10px;
}
.textFields   {
    background: white;
}
#recuperarPass a{
    font-family: Arial;
    font-size: 12px;
    color: #212736;
    font-weight: bold;
    margin-top: 5px;
    float: right;
    margin-right: 10px;
}
#recuperarPass a:hover{
    font-family: Arial;
    font-size: 12px;
    color: #E03F00;
    text-decoration: none;
    font-weight: bold;
    margin-top: 5px;
    float: right;
    margin-right: 10px;
}
#setPassDiv{
    color: #0e183f;
    font-family: Arial;
    font-size: 12px;
    
}
#setPassDiv p{
    text-align: center;
}
#setPassDiv form{
    text-align: center;
}
#registo{
     position: absolute;
    top: 25px;
    right: 95px;
    height: 20px;
    padding: 0px;
    padding-top: 2px;
    width: 85px;
    opacity: 0.9; filter: alpha(opacity=90);
    background-color:  #0e183f;
    text-align: center;
}
#registo a {
    z-index: 1000;
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    font-family: Arial;
    margin-top: 5px;
}
#registo:hover{
    background-color: #FF530D;
}
#formRegisto{
    width: 340px;
    max-height: 500px;
    overflow-y: auto;
    background-color: #FFFFFF;
    padding-left: 100px;
}

.notice{
    margin: 0px;
    padding: 0px;
}
.botaoRegistarCliente{

    font-family: Arial;
    font-size: 12px;
    color: #212736;
    font-weight: bold;
    padding: 3px;
}
.divBotao{
    text-align: right;
    margin-right: 80px;
    margin-top: 10px;
}

.labels{
    font-family: Arial;
    font-size: 12px;
    color: #212736;
    font-weight: bold;
    padding: 3px;
}
.error{
    font-family: Arial;
    font-size: 12px;
    color: red;
    font-weight: bold;
    padding: 3px;
}
#waitimg{
    position: absolute;
    left: 50%;
    margin-left: -24px;
    top: 50%;
    margin-top: -24px;
    display: none;
    opacity: 1; filter: alpha(opacity=100);

    z-index: 200000;
}
#wait{
    position:fixed;top:0;bottom:0;left:0;right:0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6; filter: alpha(opacity=60);
    display: none;
    z-index: 100000;
}
#formResetPass{
    margin: auto;
    width: 360px;


}
.passreset_submit{
    font-family: Arial;
    font-size: 12px;
    color: #212736;
    font-weight: bold;
    padding: 3px;

}
#passreset_submit{
    float: right;
    margin: 5px;
}
#formPesquisa{
    height: 26px;
    width: 300px;
    position: absolute;
    bottom: 38px;
    right: 36px;

}
#search_input{
    height: 22px;
    width: 225px;
    background-color: transparent;
    font-size: 16px;
    color: green;
    border: 0px solid;
}
#search_input:focus{
    outline-width:0;

}
#searchButton{
    position: absolute;
    right: 34px;
    bottom: -2px;
}
#searchPlus{
    position: absolute;
    right: 12px;
    bottom: 4px;
    text-decoration: none;
    border: 0px;
}
#searchPlus:hover{
    cursor: pointer;
}
#searchButton:hover{
    cursor: pointer;
}
#titleAdvancedSearch{
    font-family: Helvetica;
    font-size: 16px;
    font-weight: bold;
    color:  #0e183f;
    margin: auto;
    border: 0px solid #5AA1C1;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;
    text-align: center;

    padding: 5px;
}
#tabsConteiner{

    position:relative;
    padding: 0px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    max-height: 500px;


}
#tabs{
    width: 640px; font-size: small;text-align: center;border: 2px solid #0e183f;
    margin-left: auto;
    margin-right: auto;
    max-height: 580px;
    overflow-y:auto;
    

}

.tabsContents{
    text-align: left;
}
#closeAdvSearch{
    float: right;
    border: 0px solid;


}
#closeAdvSearch:hover{
    cursor: pointer;
}
#closeAdvSearch img{
    vertical-align: middle;
    padding: 5px;
    border: 0px;
    padding-bottom: 7px;
}
#closeAdvSearch span{
    font-family: arial;
    font-weight: bold;
    font-size: 12px;
    line-height: -12px;

}
#welcomeMessage{
   position: absolute;
    top: 57px;
    right: 30px;
    height: 20px;
    padding: 0px;
    padding-top: 2px;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    color: #0e183f;
    text-align: center;
}
.titles{
   margin: 0px;
   padding-top: 15px;
   padding-bottom: 5px;
   margin-left: 80px;
   color: #0e183f;
   font-family: Arial;
   font-weight: bold;
}
#userEditDataTitle{
    margin: 0px;
   padding-top: 15px;
   padding-bottom: 5px;
   margin-left: 20px;
   color: #0e183f;
   font-family: Arial;
   font-weight: bold;
}
#editProfile{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
#editProfile #top {
    background-image: url('/images/editprofiletop.png'); width: 820px;height: 15px; margin: auto;
}
#editProfile #middle {
    background-image: url('/images/editprofilemidle.png');background-repeat: repeat-y; width: 820px;margin: auto;
    height: auto;
    
}
#editProfile #bottom {
    background-image: url('/images/editprofilebottom.png'); width: 820px;height: 15px; margin: auto;
}
.divUserDataTitle{
    padding-top: 8px;
    width: 700px;
    border: 1px solid #0e183f;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: #0e183f;
    height: 22px;
    vertical-align: middle;
    margin:auto;
    position: relative;
    padding-left: 25px;
    padding-right: 10px;
    

}
.divUserDataTitle:hover{
cursor: pointer;
}
.divUserData{
    border: 2px solid #6fbe44;
    width: 700px;
    margin: auto;
    
}
#profileData{
    display: none;
}
#accountData{
    display: none;
}
#preferencesData{
    display: none;
}
#profile{
     background-image: url(../images/arrows2.png);
    background-repeat: no-repeat;
    background-position: right -21px;
}
#account{
     background-image: url(../images/arrows2.png);
    background-repeat: no-repeat;
    background-position: right -21px;
}
#preferences{
     background-image: url(../images/arrows2.png);
    background-repeat: no-repeat;
    background-position: right -21px;
}
.labelsUserData{
    margin-left: 100px;
    width: 200px;
    text-align: left;
     font-family: Arial;
    font-size: 12px;
    color: #212736;
    font-weight: bold;
    padding-top: 5px;
      float:left;
}
#buttonSaveAccount{
    
    margin-left: 490px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#buttonSaveProfile{
    margin-left: 490px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.userEditElements{
    margin-top: 10px;
}
#setDadaButton{
    font-family: arial;
    position: absolute;
    right: 90px;
    top: 30px;
    
}
#setDadaButton a:hover{
color: #0e183f;
}

#setDadaButton a{
    
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    font-family: arial;
    color: #FF530D;
}
#backButton{
    text-decoration: none;
    font-family: arial;
    position: absolute;
    right: 210px;
    top: 30px;
}
#backButton a{
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    font-family: arial;
    color: #FF530D;
}
#backButton a:hover{
color: #0e183f;
}
#defaul_image{
   border: 3px;
   border-style:  solid;
   border-color: #0e183f;

   
}
#photoDiv{
    margin-left: 35px;
    margin-top: 0px;
   float: left;
   width: 170px;
    
}
.myprofileLabels{
    width: 200px;
    float: left;
    text-align: right;
    margin-right: 50px;

}
#myProfileData{
    margin-left: 220px;
    border: 0px solid #0e183f;
    padding: 5px;
    width: 550px;
}
#profileContents{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
#myProfileData h4{
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
    color: #6fbe44;
    
   
    
}
#myProfileData hr{
   
    margin: 15px;
    color: #E03F00;
    background-color: #E03F00;
}
#myProfileData .elements{
    color: #0e183f;
    font-family: Arial;
    
    font-size: 13px;
    margin-top: 10px;
    margin-left: 50px;
    
}
.radioButtonsLabels{
color: #212736;
font-family: Arial;
font-size: 12px;
font-weight: bold;
padding-bottom: 5px;
}
#coin-slider{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    
}
.sugestoesTitulos{
   
   color: #ffffff;
   font-size: 16px;
   font-family: Arial;
    width: 595px;
    height: 25px;
    padding-left: 15px;
    padding-top: 7px;
    background-image: url('../images/blueBar.png');
    background-repeat: repeat-x;
    font-weight:  bolder;
}
#sugestoes{
    width: 630px;
    
    padding-left: 20px;
}
#ultimas{
    width: 275px;
     
     float: right;
     padding-right: 20px;
}
#cenas{
    margin: auto;
    
}
.ultimasTitulos{
    color:#0e183f;
    font-size: 16px;
    font-family: Arial;
    width: 260px;
    height: 25px;
    padding-left: 15px;
    padding-top: 7px;
   background-image: url('../images/orangeBarr.png');
    background-repeat: repeat-x;
    font-weight: bolder;
}
#advecedSeachTitle{
    padding: 0px;
    margin: 0px;
    margin-left: 20px;
    color: #0e183f;
    font-family: Arial;
    font-size: 18px;

}
#restaurant_adv_search_form{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 0px solid #5AA1C1;
    
}
#rest_adv_search_button{
    float: right;
    margin-right: 20px;
    
}
.userPreferencesDivs{
 border: 1px solid #6fbe44;
 padding: 10px;
 margin: 10px;
}
.userPreferencesDivs p{
 font-size: 12px;
 font-family: Arial;
 color: #0e183f;
}
#sortable1, #sortable2, #sortable3, #sortable4, #sortable5 {
    list-style-type: none;
    margin: 0; padding: 0;
    float: left; margin-right: 10px;
    background: #6fbe44; padding: 5px;
    width: 143px;
    min-height: 150px;
    margin-left: auto;
    margin-right: auto;
}
#sortable1 li, #sortable2 li, #sortable3 li,#sortable4 li,#sortable5 li {
    margin: 5px; padding: 5px;
    font-size: 0.8em; width: 120px;
    margin-left: auto;
    margin-right: auto;
}
.sortingTitles{
    text-align: center;
}
#gastronomiesTable{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
#gastronomiesTable td{
    vertical-align: top;
    
}
.my_prefs_titles{
    color: #0e183f;
    font-family: Arial;
    font-size: 14px;
    font-weight: bolder;
    margin-left: 20px;
}
.titulos_rest_cat_user_data{
    font-family: Arial;
    font-size: 14px;
    font-weight: bolder;
    color: #0e183f;
    text-decoration: underline;

}
#xpto td{
    vertical-align: top;
    color: #0e183f;
    font-family: arial;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
.rest_sugestions_photo{
    float: left;
}
.rest_sugestions_data{
    float:left;
    
    width: 170px;
    padding-left: 5px;
}
.rest_sugestions_data h3{
margin: 0px;
padding: 0px;
color: #0e183f;
font-family: Arial;
font-size: 14px;
font-weight: bold;

}
.rest_sugestions_data a{
text-decoration: none;
color: #0e183f;

}
.rest_sugestions_data h4{
margin: 0px;
padding: 0px;
color: #5AA1C1;
font-family: Arial;
font-size: 12px;
font-weight: bold;
margin-top: 7px;

}
.rest_sugestions_data h5{
margin: 0px;
padding: 0px;
color: #0e183f;
font-family: Arial;
font-size: 10px;
font-weight: bold;
margin-top: 7px;

}