    <% form_tag("changepass", :method=>'post',  :id=>"formResetPass") do %>
       <%= label_tag("pass_label", "Nova Palavra Passe", :class=>"labels")%><br/>
     <%= password_field_tag(:password) %><br/>
     <%= label_tag("repass_label", "Confirmação da Nova Palavra Passe", :class=>"labels")%><br/>
     <%= password_field_tag(:password_confirmation) %><br/>
    <%= hidden_field_tag(:id, @user.id) %>
      <%= submit_tag("Alterar") %>
 <% end %>