<div id="formRegisto">
    <%= form_for(@user, :remote=>true) do |f| %>
      <div class="field">
        <%= f.label :name, "Primeiro Nome:", :class=>"labels" %><br />
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :last_name, "Último Nome:", :class=>"labels" %><br />
        <%= f.text_field :last_name %>
      </div>
      <div class="field">
        <%= f.label :email, "E-Mail:", :class=>"labels" %><br />
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :password, "Palavra Chave:", :class=>"labels" %><br />
        <%= f.password_field :password %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, "Confirmação da Palavra Chave:", :class=>"labels" %><br />
        <%= f.password_field :password_confirmation %>
      </div>
      <div class="divBotao">
        <%= f.submit "Registar", :class=>"botaoRegistarCliente" %>
      </div>
    <% end %>
</div>