<div id="setPassDiv">
<p>Insira o email que usou para o registo, será enviado um email com as instruções para recuperar a sua palavra chave!</p>
<form id="setpass" accept-charset="UTF-8" action="users/sendpassemail" data-remote="true" method="get" style="display: block; " class="boxy-content">
  <div style="margin:0;padding:0;display:inline">
    <input name="utf8" type="hidden" value="✓"/></div>
  <label for="email">E-mail de registo:</label>
  <input id="email" name="email" type="text" />
  <input id="resetPassButton" name="commit" type="button" value="Submeter" onclick="submitSetPass()"/>
</form>
</div>