<br/>
<script type="text/javascript">
  $('.contentsOptions').corner("5px");
  $('.contentstitles').corner("5px");
</script>
<div id="conteudosUser">
  <table border="0" width="880" cellspacing="0" cellpadding="0" >
    <tr>
      <td valign="top" >
        <div id="conteudosLeft">
          <div class="contentstitles">Últimos conteúdos adicionados</div>
          bababbababa
          <br/>
          <div class="contentstitles">Últimos comentários aos meus conteúdos</div>
          
          <br/>çslakk +psal d
          <br/>çlask +k 
          vposkadpo poska dpoks ad<br/>poskadpo poska dpoks ad<br/>
          poskadpo poska dpoks ad<br/>

        </div>
      </td>
      <td valign="top">
        <div id="conteudosRight">
          <div class="contentsOptions">
            <%=  link_to "Adicionar/Editar Hotéis", "/usercontents/edithotels" %>
          </div>
          <br/>
          <div class="contentsOptions">
            <%=  link_to "Adicionar/Editar Restaurantes", "/usercontents/editrestaurants" %>
          </div>
          <br/>
          <div class="contentsOptions">
            <%=  link_to "Adicionar/Editar Pontos de Interesse", "/usercontents/editintpoints" %>
          </div>
          <br/>
          <div class="contentsOptions">
            <%=  link_to "Adicionar/Editar Eventos", "/usercontents/editevents" %>
          </div >
          <br/>
          <div class="contentsOptions">
          <%=  link_to "Adicionar/Editar Artigos", "/usercontents/editarticles" %>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>


