<script type="text/javascript">
  $(document).ready(function(){
    
    $("#profile_birth_date").datepicker( "setDate" ,  '<%=  @user.profile.birth_date %>' );
    $( "#profileAccordion" ).accordion({autoHeight: false,
      navigation: true});
    $(".userPreferencesDivs").corner("5px");

    $( "ul.droptrue" ).sortable({
      connectWith: "ul"
    });

    $( "ul.dropfalse" ).sortable({
      connectWith: "ul",
      dropOnEmpty: false
    });

    $( "#sortable1, #sortable2, #sortable3, #sortable4, #sortable5" ).disableSelection();

    <% @rest_prefs_type1_array.each_with_index{|cat, i| %>
    $( "#gastronomia<%= cat[:id] %>" ).slider({
			orientation:  "horizontal",
			range: "min",
			min: 0,
			max: 10,
			value: <%= cat[:value] %>,
                        animate: true,
			slide: function( event, ui ) {
				$( "#amount<%= cat[:id] %>" ).val( ui.value );
			}
		});

		$( "#amount<%= cat[:id] %>" ).val( $( "#gastronomia<%= cat[:id] %>" ).slider( "value" ) );
                
                
  <% } %>
    <% @rest_prefs_type2_array.each_with_index{|cat, i| %>
    $( "#gastronomia<%= cat[:id] %>" ).slider({
			orientation:  "horizontal",
			range: "min",
			min: 0,
			max: 10,
			value: <%= cat[:value] %>,
                        animate: true,
			slide: function( event, ui ) {
				$( "#amount<%= cat[:id] %>" ).val( ui.value );
			}
		});

		$( "#amount<%= cat[:id] %>" ).val( $( "#gastronomia<%= cat[:id] %>" ).slider( "value" ) );


  <% } %>
    $("[id^=amount]").attr('disabled', true);
    $("[id^=amount]").css("background-color", "#EEEEEE");

    
    

      
    $("#test").click(function(){
      //var ids = $('#sortable1').sortable('toArray');
      //if(ids == "" ){
       // ids = $('#sortable4').sortable('toArray');
      //}else  if($('#sortable4').sortable('toArray')!= ""){
        //    ids = ids + "," + $('#sortable4').sortable('toArray')
        //}
      //$('#rest_pref_ids').val(ids);
       //alert(ids);
       a = $("#this_rest_cats").val().split(',');
       a.pop();
       ids_and_values = "";
       for(i = 0; i != a.length; i++){
         ids_and_values = ids_and_values + a[i] + ":"+ $("#amount"+a[i]).val() + ",";
       }
      // alert(ids_and_values);
       $('#rest_pref_ids').val(ids_and_values);
      $('#rest_prefs_form').submit();
           
    });

  });
</script>

<div id="editProfile"><br/>
  <h3 id="userEditDataTitle">Editar Dados de Utilizador</h3>
  <div id="profileContents">
    <div id="profileAccordion">
      <h3><a href="#">Dados do perfil</a></h3>
      <div style="font-size: 16px;">

        <%= form_for :profile, @user.profile, :url => { :action => "saveprofile" }, :html => { :multipart => true } do |p| %>
          <%= p.error_messages %>
          <div class="userEditElements">
            <%= p.label :foto, "Foto:", :class=>"labelsUserData" %>
            <%=  p.file_field :photo %><br />
          </div>
          <div class="userEditElements">
            <%= p.label :genero, "Género:", :class=>"labelsUserData" %>
            <%= p.radio_button(:gender, "Masculino") %>
            <%= p.label(:masculino, "Masculino",  :class=>"radioButtonsLabels") %>
            <%= p.radio_button(:gender, "Feminino") %>
            <%= p.label(:feminino, "Feminino", :class=>"radioButtonsLabels") %><br />
          </div>
          <div class="userEditElements">
            <%= p.label :birth_date, "Data de Nascimento:", :class=>"labelsUserData" %>
            <%=  p.text_field :birth_date , :size=>10 %><br />
          </div>
          <div class="userEditElements">
            <%= p.label :phone_number, "Telefone/Telemóvel:", :class=>"labelsUserData" %>
            <%=  p.text_field :phone_number %><br />
          </div>
          <div class="userEditElements">
            <%= p.label :home_city, "Cidade:", :class=>"labelsUserData" %>
            <%=  p.text_field :home_city %><br />
          </div>
          <div class="userEditElements">
            <%= p.label :home_location, "Localidade:", :class=>"labelsUserData" %>
            <%=  p.text_field :home_location %><br />
          </div>
          <div class="userEditElements">
            <%= p.label :profession, "Profissão:", :class=>"labelsUserData" %>
            <%=  p.text_field :profession %><br />
          </div>
          <div class="userEditElements">
            <%= p.label :work_location, "Localidade do Local de Trabalho:", :class=>"labelsUserData" %>
            <%=  p.text_field :work_location %><br />
          </div>
          <%= p.submit "Modificar", :class=>"botaoRegistarCliente" , :id =>"buttonSaveProfile"%>
        <% end %>



      </div>
      <h3><a href="#">As minhas preferências</a></h3>
      <div>


        <div class="userPreferencesDivs">
          Hotéis
          <hr/>
        </div>
        <div class="userPreferencesDivs">
          Restaurantes
          <hr/>
          <p>Atribua de 1 a 10 a importância de cada gastromia para si!</p>
          <table align="center">
             <%  @rest_prefs_type1_array.each_with_index{|cat, i|  %>
            <tr>
              <td><label for="amount<%= cat[:id] %>" style="border:0; font-size: 12px;"><%= cat[:name] %>:</label>
              </td>
              <td><input type="text" id="amount<%= cat[:id] %>"size="5" style="border:0; color:#f6931f; font-weight:bold; font-size: 12px;" /></td>
              <td> <div id="gastronomia<%= cat[:id] %>" style="width:260px; margin:15px;"></div></td>
            </tr>



              <% } %>
            
          </table>
          
           <p>Atribua de 1 a 10 a importância de cada gama de preço para si!</p>
          <table align="center">
             <%  @rest_prefs_type2_array.each_with_index{|cat, i|  %>
            <tr>
              <td><label for="amount<%= cat[:id] %>" style="border:0; font-size: 12px;"><%= cat[:name] %>:</label>
              </td>
              <td><input type="text" id="amount<%= cat[:id] %>"size="5" style="border:0; color:#f6931f; font-weight:bold; font-size: 12px;" /></td>
              <td> <div id="gastronomia<%= cat[:id] %>" style="width:260px; margin:15px;"></div></td>
            </tr>



              <% } %>

          </table>
           <%
            a = @rest_prefs_type1_array + @rest_prefs_type2_array
            string_ids = ""
            a.each{|cat|
              string_ids = string_ids + cat[:id] +","
            }

            %>
           <input type="hidden" id="this_rest_cats"value="<%= string_ids %>"/>
            <%= form_tag '/users/save_rest_prefs', :id => 'rest_prefs_form' , :remote=>false   do %>
              <%= hidden_field_tag "rest_pref_ids", ""%>
            <% end %>


            <br clear="both" />
            <%= submit_tag("Modificar", {:id => "test", :class=>"botaoRegistarCliente"}) %>



           

             
            
          </div>
                 
        
          <div class="userPreferencesDivs">

            Pontos de interesse
            <hr/>
          </div>
          <div class="userPreferencesDivs">
            Eventos
            <hr/>
          </div>



        </div>
        <h3><a href="#">Dados de conta</a></h3>
        <div>


          <%= form_for :user, @user, :url => { :action => "updateaccount" } do |u| %>
            <%= u.error_messages %>
            <div class="userEditElements">
              <%= u.label :name, "Primeiro Nome:", :class=>"labelsUserData" %>
              <%=  u.text_field :name %><br />
            </div>
            <div class="userEditElements">
              <%= u.label :last_name, "Ultimo Nome:", :class=>"labelsUserData" %>
              <%=  u.text_field :last_name %><br />
            </div>
            <div class="userEditElements">
              <%= u.label :email, "E-mail:", :class=>"labelsUserData" %>
              <%=  u.text_field :email %><br />
            </div>
            <div class="userEditElements">
              <%= u.label :password, "Palavra Chave:", :class=>"labelsUserData" %>
              <%= u.password_field :password,  :value=>"" %><br />
            </div>
            <div class="userEditElements">
              <%= u.label :password_confirmation, "Confirmação da Palavra Chave:", :class=>"labelsUserData" %>
              <%= u.password_field :password_confirmation %><br />
            </div>
            <%= u.submit "Modificar", :class=>"botaoRegistarCliente", :id=>"buttonSaveAccount" %>
          <% end %>

        </div>

      </div>

    </div>
    <br/>
  </div>
