<div id="myProfile" ><br/>
  <h3 class="titles">A Minha Conta</h3>
  <div id="backButton"><%= link_to "Voltar", "/" %></div>
  <div id="setDadaButton"><%= link_to "Editar Dados", "/users/editprofile" %></div>
  <div id="top"style=""></div>
  <div id="middle">
    <br/>

    <div id="photoDiv">
      <% if (@user.profile.photo_file_name != nil) %>
        <%= image_tag @user.profile.photo.url(:thumb) , :id=>"defaul_image"%>
      <% else %>
        <%= image_tag "default_photo.png", :id=>"defaul_image" %>
      <% end %>
    </div>
    <div id="myProfileData">
      <h4>Dados da conta</h4>
      <div class="elements"><div class="myprofileLabels">Primeiro Nome: </div><%= @user.name %></div>
      <div class="elements"><div class="myprofileLabels">Último Nome: </div><%= @user.last_name %></div>
      <div class="elements"><div class="myprofileLabels">E-mail: </div><%= @user.email %></div>
      <hr />
      <h4>Dados do perfil</h4>
      <div class="elements"><div class="myprofileLabels">Género: </div><%= (@user.profile.gender==nil || @user.profile.gender== "")?"Por preencher!": @user.profile.gender %></div>
      <div class="elements"><div class="myprofileLabels">Data de Nascimento: </div><%= (@user.profile.birth_date==nil || @user.profile.birth_date== "")?"Por preencher!": @user.profile.birth_date %></div>
      <div class="elements"><div class="myprofileLabels">Telefone/Telemóvel: </div><%=   (@user.profile.phone_number==nil || @user.profile.phone_number== "")?"Por preencher!": @user.profile.phone_number %></div>
      <div class="elements"><div class="myprofileLabels">Localidade: </div><%= (@user.profile.home_location==nil || @user.profile.home_location== "")?"Por preencher!": @user.profile.home_location %></div>
      <div class="elements"><div class="myprofileLabels">Cidade: </div><%= (@user.profile.home_city==nil || @user.profile.home_city== "")?"Por preencher!": @user.profile.home_city %></div>
      <div class="elements"><div class="myprofileLabels">Profissão: </div><%= (@user.profile.profession==nil || @user.profile.profession== "")?"Por preencher!": @user.profile.profession %></div>
      <div class="elements"><div class="myprofileLabels">Localidade do Local de Trabalho: </div><%= (@user.profile.work_location==nil || @user.profile.work_location== "")?"Por preencher!": @user.profile.work_location %></div>
      <hr/>
      <h4>As minhas preferências</h4>
      <br/>
      <div class="my_prefs_titles">Preferências para hotéis</div>
      <hr/>
      <div class="my_prefs_titles">Preferências para restaurantes</div>
      <hr/>
      <table id="xpto"align="center" cellspacing="10" border="0">
        <thead>
          <tr>
            <td colspan="2">
              <span class="titulos_rest_cat_user_data">Tipos de Gastronomia</span>
            </td>
            
            <td style="width: 20px;">
               &nbsp;
            </td>
            <td colspan="2">
              <span class="titulos_rest_cat_user_data">Gamas de Preço</span>
            </td>
            
          </tr>
        </thead>
        <tr>
          <td><b>Nome</b></td><td><b>Significância</b></td><td></td><td><b>Nome</b></td><td><b>Significância</b></td>
        </tr>
        <tr>
          <td><%  @type1.each{ |cat| %>

            <label><%= cat[:name]  %> </label><br/><br/>
            <%  } %></td><td>
            <%  @type1.each{ |cat| %>

            <label><%= cat[:significance]  %> </label><br/><br/>
            <%  } %>
          </td><td></td><td>
            <%  @type2.each{ |cat| %>

            <label><%= cat[:name]  %> </label><br/><br/>
            <%  } %>
          </td><td>
            <%  @type2.each{ |cat| %>

            <label><%= cat[:significance]  %> </label><br/><br/>
            <%  } %>
          </td>
        </tr>
      </table>
      
      <div class="my_prefs_titles">Preferências para pontos de interesse</div>
      <hr/>
      <div class="my_prefs_titles">Preferências para eventos</div>
      <hr/>

    </div>

    <br/>
  </div>


  <div id="bottom"></div>
  <br/>
</div>