$("[class^='boxy-']").remove();
new Boxy('<%= escape_javascript render(:partial => 'form') %> ', {title: "Registo de Cliente", modal:true,closeText:"<img src='/images/x.png' />"}, function() { alert("Confirmed!"); });