$("[class^='boxy-']").remove();
$('#wait').hide();
$('#waitimg').hide();

new Boxy('<p class="error">O e-mail que introduziu não existe na base de dados!</p><%= escape_javascript render(:partial => 'setpass') %> ', {title: "Recuperação de palavra chave", modal:true,closeText:"<img src='/images/x.png' />"}, function() { alert("Confirmed!"); });