<div id="formResetPass">
<%= content_tag(:p, alert, :class => 'alert') if alert.present? %>
<% if (notice.present?) %><script type="text/javascript"> $.jnotify("<%= notice %>", 5000);</script> <% end %>
<% if(@valid_reset) %>
<%=    render :partial =>'formPassReset' %>


<% else %>
<div id="resetPassNonUser"><script type="text/javascript">jAlert('Caro utilizador, o seu pedido de mudança de password expirou, para o voltar a fazer deve de efectuar um novo pedido!','Atenção', function(){window.location.replace("http://localhost:3000");});  </script> </div>
<% end %>

</div>