$("[class^='boxy-']").remove();
new Boxy('<%= escape_javascript render(:partial => 'setpass') %> ', {title: "Recuperação de palavra chave", modal:true,closeText:"<img src='/images/x.png' />"}, function() { alert("Confirmed!"); });