<div id='coin-slider'>
  <a href="#" target="_blank">
    <img src='/images/slider/PORTUGAL1.png' />
    <span style="font-family: Arial; font-size: 17px; font-weight: bold; ">
      <span style="font-family: Arial;font-weight:bold; font-size: 20px;color: #49bc0b">Bem vindo ao  @Portugal !!!</span><br/> Neste portal poderá consultar e adicionar informa&ccedil;&atilde;o relativa a hotéis, restaurantes,
      pontos de interesse e eventos do nosso país.
    </span>
  </a>

  <a href="#">
    <img src='/images/slider/PORTUGAL2.png' />
    <span style="font-family: Arial; font-size: 17px; font-weight: bold; ">
      <span style="font-family: Arial; font-weight:bold;font-size: 20px;color: #49bc0b">Contribua!!!</span><br/> Este portal foi para si! Registe-se e adicione novos conteúdos sobre hotéis, restaurantes, pontos de interesse ou enventos que conheça! Comente e faça avaliações sobre o que gostou e o que não gostou!
    </span>
  </a>
  <a href="#">
    <img src='/images/slider/PORTUGAL3.png' />
    <span style="font-family: Arial; font-size: 17px; font-weight: bold;  ">
      <span style="font-family: Arial; font-weight:bold;font-size: 20px;color: #49bc0b">Ajude-nos a ajudá-lo!!!</span><br/> Preencha as suas preferências na sua conta! Assim poderemos fazer sugestões mais acertadas com os seus gostos!
    </span>
  </a>
  <a href="#">
    <img src='/images/slider/PORTUGAL4.png' />
    <span style="font-family: Arial; font-size: 17px; font-weight: bold; ">
      <span style="font-family: Arial;font-weight:bold; font-size: 20px;color: #49bc0b">Divirta-se!!!</span><br/>Com todos estes conteúdos, cabe-lhe a sí decidir para onde quer ir e como usufruir dos dias que reservou para relaxar! <br/>Aproveite o nosso país!
    </span>
  </a>
</div>

<table width="880" border="0">
  <tr>
    <td valign="top">
      <div id="sugestoes">
        <div class="sugestoesTitulos">Sugestões de Hotéis</div><br/>
        <div id="sugestoesTitulos">HOTEL1 HOTEL 2 HOTEL 3 HOTEL 4 </div><br/><br/><br/>
        <div class="sugestoesTitulos">Sugestões de Restaurantes</div><br/>
        <div id="sugestoesTitulos">
          <table border="0" width="590" align="center" style="margin-left: 10px">
            <tr>
              <td style="width: 50%" valign="top">
                <div class="rest_sugestions_photo">
                  <% if (@restaurants_sugestions[0].restaurant_logo_file_name != nil) %>
                    <a href="/restaurants/<%=  @restaurants_sugestions[0].id%>"><%= image_tag @restaurants_sugestions[0].restaurant_logo.url(:thumb) , :class=>"rest_logo_thumb" %></a>
                  <% else %>
                    <a href="/restaurants/<%=  @restaurants_sugestions[0].id%>"><%= image_tag "default_rest_photo.png", :class=>"rest_logo_thumb"  %></a>
                  <% end %>
                </div>
                <div class="rest_sugestions_data" >
                  <h3><a href="/restaurants/<%=  @restaurants_sugestions[0].id%>"><%=  @restaurants_sugestions[0].name%></a></h3>
                  <h4><%=  @restaurants_sugestions[0].city%></h4>
                  <h4>Tipo Gastronomia:</h4>
                  <% c =  @restaurants_sugestions[0].restaurant_categories.where('restaurant_category_type=1')
                  s = ""
                  c.each{ |c|
                    s << c.name.to_s << " "
                  }
                %>
                  <h5><%=  s   %></h5>
                </div>
                <div class="clean">

                </div>
              </td>
              <td style="width: 50%" valign="top">
                <div class="rest_sugestions_photo">
                  <% if (@restaurants_sugestions[1].restaurant_logo_file_name != nil) %>
                    <a href="/restaurants/<%=  @restaurants_sugestions[1].id%>"> <%= image_tag @restaurants_sugestions[1].restaurant_logo.url(:thumb) , :class=>"rest_logo_thumb" %></a>
                  <% else %>
                    <a href="/restaurants/<%=  @restaurants_sugestions[1].id%>"><%= image_tag "default_rest_photo.png", :class=>"rest_logo_thumb"  %></a>
                  <% end %>
                </div>
                <div class="rest_sugestions_data" >
                  <h3><a href="/restaurants/<%=  @restaurants_sugestions[1].id%>"><%=  @restaurants_sugestions[1].name%></a></h3>
                  <h4><%=  @restaurants_sugestions[1].city%></h4>
                  <h4>Tipo Gastronomia:</h4>
                  <% c =  @restaurants_sugestions[1].restaurant_categories.where('restaurant_category_type=1')
                  s = ""
                  c.each{ |c|
                    s << c.name.to_s << " "
                  }
                %>
                  <h5><%=  s   %></h5>
                </div>
                <div class="clean">

                </div>
              </td>
            </tr>
            <tr>
              <td style="width: 50%" valign="top">
                <div class="rest_sugestions_photo">
                  <% if (@restaurants_sugestions[2].restaurant_logo_file_name != nil) %>
                    <a href="/restaurants/<%=  @restaurants_sugestions[2].id%>"> <%= image_tag @restaurants_sugestions[2].restaurant_logo.url(:thumb) , :class=>"rest_logo_thumb" %></a>
                  <% else %>
                    <a href="/restaurants/<%=  @restaurants_sugestions[2].id%>"><%= image_tag "default_rest_photo.png", :class=>"rest_logo_thumb"  %></a>
                  <% end %>
                </div>
                <div class="rest_sugestions_data" >
                  <h3><a href="/restaurants/<%=  @restaurants_sugestions[2].id%>"><%=  @restaurants_sugestions[2].name%></a></h3>
                  <h4><%=  @restaurants_sugestions[2].city%></h4>
                  <h4>Tipo Gastronomia:</h4>
                  <% c =  @restaurants_sugestions[2].restaurant_categories.where('restaurant_category_type=1')
                  s = ""
                  c.each{ |c|
                    s << c.name.to_s << " "
                  }
                %>
                  <h5><%=  s   %></h5>
                </div>
                <div class="clean">

                </div>
              </td>
              <td style="width: 50%" valign="top">
                <div class="rest_sugestions_photo">
                  <% if (@restaurants_sugestions[0].restaurant_logo_file_name != nil) %>
                    <a href="/restaurants/<%=  @restaurants_sugestions[3].id%>"> <%= image_tag @restaurants_sugestions[0].restaurant_logo.url(:thumb) , :class=>"rest_logo_thumb" %></a>
                  <% else %>
                    <a href="/restaurants/<%=  @restaurants_sugestions[3].id%>"><%= image_tag "default_rest_photo.png", :class=>"rest_logo_thumb"  %></a>
                  <% end %>
                </div>
                <div class="rest_sugestions_data" >
                  <h3><a href="/restaurants/<%=  @restaurants_sugestions[3].id%>"><%=  @restaurants_sugestions[3].name%></a></h3>
                  <h4><%=  @restaurants_sugestions[3].city%></h4>
                  <h4>Tipo Gastronomia:</h4>
                  <% c =  @restaurants_sugestions[3].restaurant_categories.where('restaurant_category_type=1')
                  s = ""
                  c.each{ |c|
                    s << c.name.to_s << " "
                  }
                %>
                  <h5><%=  s   %></h5>
                </div>
                <div class="clean">

                </div>
              </td>
            </tr>

          </table>

        </div>
        <br/>
        <div class="sugestoesTitulos">Sugestões de Pontos de Interesse</div><br/>
        <div id="sugestoesTitulos">Ponto 1  2 3 4</div><br/><br/><br/>
        <div class="sugestoesTitulos">Sugestões de Eventos</div><br/>
        <div id="sugestoesTitulos">Evento 1 2 3 4</div><br/><br/><br/>
      </div>
    </td>


    <td valign="top">
      <div id="ultimas">
        <div class="ultimasTitulos">Novos Conteúdos</div>
        C1<br/>
        c2<br/>
        <div class="ultimasTitulos">Comentários Recentes</div>
        C1<br/>
        c2<br/>
        <div class="ultimasTitulos">Novos Artigos</div>
        C1<br/>
        c2<br/>
      </div>

    </td>
  </tr>
</table>