<% if !@comments.empty? %>
<% for comment in @comments %>
<div class="comment_content">
 <div class="comment_thumb">
   <%
   user = User.find_by_id(comment.user_id)
   if (user.profile.photo_file_name != nil) %>
   
   
  <%= image_tag user.profile.photo.url(:smaller) , :id=>"comment_image"%>
<% else %>
<%= image_tag "default_photo_comment.png", :id=>"comment_image" %>
<% end %>
 </div>
  <div class="comment_text">
   <span class="comment_title"><%= user.complete_name %>:</span>
   <span class="comment_date"><%= comment.formated_date %></span>
   <br/><br/>
      <%= simple_format(comment.comment_body) %>
 </div>
  <div class="clean">

 </div>
   
</div>
      
    <%  end %>
    
<%= paginate @comments %>
<% else %>
<br/>
<p id="noComments">Ainda não foram feitos comentários pelos utilizadores!</p>
<% end %>