<script type="text/javascript">
  $(document).ready(function() {
        
        $('#restaurant_coordinates').geoLocationPicker({
              left: "280px",
              top: "220px"
            });
    
  });
</script>
<div id="formRestaurant">
  <%= form_for(@restaurant, :html => { :multipart => true })  do |f| %>
    <div class="restaurantEditElements">
      <%= f.label :restaurant_logo, "Logotipo do Restaurante(Imagem):", :class=>"labels" %><br />
      <%=  f.file_field :restaurant_logo %><br />
    </div>
    <div class="field">
      <%= f.label :name, "Nome:", :class=>"labels" %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :district, "Distrito:", :class=>"labels" %><br />
      <%= f.text_field :district %>
    </div>
    <div class="field">
      <%= f.label :owner_name, "Proprietário:", :class=>"labels" %><br />
      <%= f.text_field :owner_name %>
    </div>
    <div class="field">
      <%= f.label :city, "Cidade:", :class=>"labels" %><br />
      <%= f.text_field :city %>
    </div>
    <div class="field">
      <%= f.label :county, "Concelho:", :class=>"labels" %><br />
      <%= f.text_field :county %>
    </div>
    <div class="field">
      <%= f.label :location, "Localidade:", :class=>"labels" %><br />
      <%= f.text_field :location %>
    </div>
    <div class="field">
      <%= f.label :address, "Morada:", :class=>"labels" %><br />
      <%= f.text_field :address %>
    </div>
    <div class="field">
      <%= f.label :postal_code, "Código Postal:", :class=>"labels" %><br />
      <%= f.text_field :postal_code %>
    </div>

    <div class="field">
      <%= f.label :coordinates, "Coordenadas:", :class=>"labels" %><br />
      <%= f.text_field :coordinates %>
    </div>
    <div class="field">
      <%= f.label :email, "E-mail:", :class=>"labels" %><br />
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :phone_number, "Telefone:", :class=>"labels" %><br />
      <%= f.text_field :phone_number %>
    </div>
    <div class="field">
      <%= f.label :fax, "Fax:", :class=>"labels" %><br />
      <%= f.text_field :fax %>
    </div>
    <div class="field">
      <%= f.label :site, "Site Oficial:", :class=>"labels" %><br />
      <%= f.text_field :site %>
    </div>
    <div class="field">
      <%= f.label :description, "Descrição:", :class=>"labels" %><br />
      <%= f.text_area :description  %>
    </div>

    Categorias:
    Tipo de gastronomia:<br/>

    <% for category in @restaurant_categories_type1 %>
      <%= check_box_tag ("restaurant[restaurant_category_ids][]",category.id, @restaurant.restaurant_categories.include?(category)) %>
      <%= category.name %><br/>
    <%  end %>
    Gama de preço:<br/>
    <% for category in @restaurant_categories_type2 %>
      <%= check_box_tag ("restaurant[restaurant_category_ids][]",category.id, @restaurant.restaurant_categories.include?(category)) %>
      <%= category.name %><br/>
    <%  end %>
    <br/>
    Dias de encerramento: <br/>
    <% for closed_day in @closed_days %>
      <%= check_box_tag ("restaurant[closed_day_ids][]",closed_day.id, @restaurant.closed_days.include?(closed_day)) %>
      <%= closed_day.week_day %><br/>
    <%  end %>

    <br/>
    Características:
  
    <br/>
    <br/>
    FOTOS:
    <br/>
    <% f.fields_for :restaurant_photos do |photo| %>
      <% if photo.object.new_record? %>
        <%=   photo.file_field :restaurant_photo %>

      <% end %>
    <%  end %>
    <br/>
    <% f.fields_for :restaurant_photos do |photo| %>
      <% unless photo.object.new_record? %>
        <p>
          <%=  image_tag(photo.object.restaurant_photo.url(:thumb)) %>
          Apagar:
          <%= photo.check_box :_destroy %>
        </p>
      <% end %>
    <%  end %>


    <div class="divBotao">
      <%= f.submit "Registar", :class=>"botaoRegistarCliente" %>
    </div>

  <% end %>
</div>