<span class="classificacao">Minha classificação:</span>
<% form_for(rating_ballot, :remote => true, :html => {:id=>'ratings', :method => :put, :class => 'rating_ballot' }) do |f| %>
        
        <%=  radio_button_tag("restaurant_rating[value]", 1, current_user_rating == 1, :class => 'star') %>
        
        <%=  radio_button_tag("restaurant_rating[value]", 2, current_user_rating == 2, :class => 'star') %>
        
        <%=  radio_button_tag("restaurant_rating[value]", 3, current_user_rating == 3, :class => 'star') %>
        
        <%=  radio_button_tag("restaurant_rating[value]", 4, current_user_rating == 4, :class => 'star') %>
        
        <%=  radio_button_tag("restaurant_rating[value]", 5, current_user_rating == 5, :class => 'star') %>

        <%=    hidden_field_tag("restaurant_id", @restaurant.id) %>
        <%=    hidden_field_tag("restaurant_rating[value]","") %>
         <%= f.submit "Registar", :class=>"" %>

<% end %>
      
                  