<br/>
<div id="usersComments">
  <div class="usersComentsTitle">
  Cometários de utilizadores:
   
  </div>
  <%= render 'comments_list' %>
  <br/>
  <% if logged_in?  %>
  <div id="caixaComentario">
    
    <span class="rest_labels">Escrever comentário:</span>
  
  <br/>
  <% form_for(@comment, :remote => false, :html => {:id=>'formComment'}) do |f| %>

       
        
      <%= f.text_area :comment_body,  :size =>"60x6" %>
         <%=    hidden_field_tag("restaurant_id", @restaurant.id) %>
         <%= f.submit "Submeter Comentário", :class=>"" %>

<% end %>
      
  </div>
  <% end   %>
</div>
<br/>