<script type="text/javascript">
  $('.restaurant_result').corner("5px");
  $('#title').corner("5px");
  $('#sugestionsTitle').corner("5px");

</script>
<div id="restSearchResults">
  <br/>
  <div id="esq">
    <div id ="title">Resultados da pesquisa avançada</div>
    <% if @restaurants_results.size > 0 %>
      <% for restaurant in @restaurants_results %>

          <div class="restaurant_result">
          <div class="esq">
            <% if (restaurant.restaurant_logo_file_name != nil) %>
              <%= image_tag restaurant.restaurant_logo.url(:thumb) , :class=>"rest_logo_thumb" %>
            <% else %>
              <%= image_tag "default_rest_photo.png", :class=>"rest_logo_thumb"  %>
            <% end %>
          </div>
          <div class="dir">
            <h3><%= restaurant.name %></h3>
            <span class="rest_classification">Classificação:

                  <form>
                    <div id="rest_stars_<%= restaurant.id %>">
                      <input type="radio" name="newrate" value="1"/>
                      <input type="radio" name="newrate" value="2"/>
                      <input type="radio" name="newrate" value="3"/>
                      <input type="radio" name="newrate" value="4"/>
                      <input type="radio" name="newrate" value="5"/>
                      <input type="radio" name="newrate" value="6"/>
                      <input type="radio" name="newrate" value="7"/>
                      <input type="radio" name="newrate" value="8"/>
                      <input type="radio" name="newrate" value="9"/>
                      <input type="radio" name="newrate" value="10"/>
                      <input type="radio" name="newrate" value="11"/>
                      <input type="radio" name="newrate" value="12"/>
                      <input type="radio" name="newrate" value="13"/>
                      <input type="radio" name="newrate" value="14"/>
                      <input type="radio" name="newrate" value="15"/>
                      <input type="radio" name="newrate" value="16"/>
                      <input type="radio" name="newrate" value="17"/>
                      <input type="radio" name="newrate" value="18"/>
                      <input type="radio" name="newrate" value="19"/>
                      <input type="radio" name="newrate" value="20"/>
                    </div>
                  </form>
                  <script type="text/javascript">
                    $("#rest_stars_<%= restaurant.id %>").stars({

                      disabled: true, split: 4, starWidth: 16


                    });

                    $("#rest_stars_<%= restaurant.id %>").stars("select", <%=  restaurant.average_rating %>);
                  </script>



            </span><br/>
            <span class="label">Localidade:</span><span class="data">&nbsp;<%= restaurant.location %></span><br/>
            <span class="label">Gastronomia:</span><span class="data">&nbsp;<%
            for gast in restaurant.restaurant_categories
              if gast.restaurant_category_type == 1
            %>
              <%= gast.name %>&nbsp;
            <% end
              end%>
            </span><br/>
            <span class="label">Preço Médio Por Pessoa:</span><span class="data">&nbsp;<%
            for gast2 in restaurant.restaurant_categories
              if gast2.restaurant_category_type == 2
            %>
              <%= gast2.name %>&nbsp;
            <% end
              end%>
            </span>

          </div> <a href="/restaurants/<%= restaurant.id %>"><div id="buttonVisualizar"></div> </a>
          <div id="limpesa"></div>

        </div>

      <% end %>
    <% else %>
    <p class="no_restaurant_results">Não existe nenhum restaurante pelos termos que pesquisou!</p>
    <% end %>
       <%= paginate @restaurants_results, :params => {:controller => 'restaurants', :action => 'advanced_search'}  %>
      <br/>
  </div>
  <div id="dir">
    <div id="sugestionsTitle">
      Publicidade ou Sugestões
    </div>
  </div>
  <div id="limpesa">

  </div>
</div>


