
      <% if (@restaurant.restaurant_logo_file_name != nil) %>
  <%= image_tag @restaurant.restaurant_logo.url(:thumb) , :id=>"defaul_image"%>
<% else %>
<%= image_tag "default_photo.png", :id=>"defaul_image" %>
<% end %>
<%= render :partial=>'/restaurants/form' %>
<%= link_to 'Voltar', root_path %>