<div id="restaurantsHome">
  <br/>
   <div class="restaurantsSugestions">
  <h1 class="restaurant_sugestions_titles">Sugestões de Restaurantes</h1>
   
    <br/>
    <table border="0" width="880" style="margin-left: 15px;">
      <tr>
              <td style="width: 33%" valign="top">
                <div class="rest_sugestions_photo">
                  <% if (@restaurants_sugestions[0].restaurant_logo_file_name != nil) %>
                    <a href="/restaurants/<%=  @restaurants_sugestions[0].id%>"><%= image_tag @restaurants_sugestions[0].restaurant_logo.url(:thumb) , :class=>"rest_logo_thumb" %></a>
                  <% else %>
                    <a href="/restaurants/<%=  @restaurants_sugestions[0].id%>"><%= image_tag "default_rest_photo.png", :class=>"rest_logo_thumb"  %></a>
                  <% end %>
                </div>
                <div class="rest_sugestions_data" >
                  <h3><a href="/restaurants/<%=  @restaurants_sugestions[0].id%>"><%=  @restaurants_sugestions[0].name%></a></h3>
                  <h4><%=  @restaurants_sugestions[0].city%></h4>
                  <h4>Tipo Gastronomia:</h4>
                  <% c =  @restaurants_sugestions[0].restaurant_categories.where('restaurant_category_type=1')
                  s = ""
                  c.each{ |c|
                    s << c.name.to_s << " "
                  }
                %>
                  <h5><%=  s   %></h5>
                </div>
                <div class="clean">

                </div>
              </td>
              <td style="width: 33%" valign="top">
                <div class="rest_sugestions_photo">
                  <% if (@restaurants_sugestions[1].restaurant_logo_file_name != nil) %>
                    <a href="/restaurants/<%=  @restaurants_sugestions[1].id%>"> <%= image_tag @restaurants_sugestions[1].restaurant_logo.url(:thumb) , :class=>"rest_logo_thumb" %></a>
                  <% else %>
                    <a href="/restaurants/<%=  @restaurants_sugestions[1].id%>"><%= image_tag "default_rest_photo.png", :class=>"rest_logo_thumb"  %></a>
                  <% end %>
                </div>
                <div class="rest_sugestions_data" >
                  <h3><a href="/restaurants/<%=  @restaurants_sugestions[1].id%>"><%=  @restaurants_sugestions[1].name%></a></h3>
                  <h4><%=  @restaurants_sugestions[1].city%></h4>
                  <h4>Tipo Gastronomia:</h4>
                  <% c =  @restaurants_sugestions[1].restaurant_categories.where('restaurant_category_type=1')
                  s = ""
                  c.each{ |c|
                    s << c.name.to_s << " "
                  }
                %>
                  <h5><%=  s   %></h5>
                </div>
                <div class="clean">

                </div>
              </td>
              <td style="width: 33%" valign="top">
                <div class="rest_sugestions_photo">
                  <% if (@restaurants_sugestions[2].restaurant_logo_file_name != nil) %>
                    <a href="/restaurants/<%=  @restaurants_sugestions[2].id%>"> <%= image_tag @restaurants_sugestions[2].restaurant_logo.url(:thumb) , :class=>"rest_logo_thumb" %></a>
                  <% else %>
                    <a href="/restaurants/<%=  @restaurants_sugestions[2].id%>"><%= image_tag "default_rest_photo.png", :class=>"rest_logo_thumb"  %></a>
                  <% end %>
                </div>
                <div class="rest_sugestions_data" >
                  <h3><a href="/restaurants/<%=  @restaurants_sugestions[2].id%>"><%=  @restaurants_sugestions[2].name%></a></h3>
                  <h4><%=  @restaurants_sugestions[2].city%></h4>
                  <h4>Tipo Gastronomia:</h4>
                  <% c =  @restaurants_sugestions[2].restaurant_categories.where('restaurant_category_type=1')
                  s = ""
                  c.each{ |c|
                    s << c.name.to_s << " "
                  }
                %>
                  <h5><%=  s   %></h5>
                </div>
                <div class="clean">

                </div>
              </td>
            </tr>
            <tr>
              <td style="width: 33%" valign="top">
                <div class="rest_sugestions_photo">
                  <% if (@restaurants_sugestions[3].restaurant_logo_file_name != nil) %>
                    <a href="/restaurants/<%=  @restaurants_sugestions[3].id%>"><%= image_tag @restaurants_sugestions[3].restaurant_logo.url(:thumb) , :class=>"rest_logo_thumb" %></a>
                  <% else %>
                    <a href="/restaurants/<%=  @restaurants_sugestions[3].id%>"><%= image_tag "default_rest_photo.png", :class=>"rest_logo_thumb"  %></a>
                  <% end %>
                </div>
                <div class="rest_sugestions_data" >
                  <h3><a href="/restaurants/<%=  @restaurants_sugestions[3].id%>"><%=  @restaurants_sugestions[3].name%></a></h3>
                  <h4><%=  @restaurants_sugestions[3].city%></h4>
                  <h4>Tipo Gastronomia:</h4>
                  <% c =  @restaurants_sugestions[3].restaurant_categories.where('restaurant_category_type=1')
                  s = ""
                  c.each{ |c|
                    s << c.name.to_s << " "
                  }
                %>
                  <h5><%=  s   %></h5>
                </div>
                <div class="clean">

                </div>
              </td>
              <td style="width: 33%" valign="top">
                <div class="rest_sugestions_photo">
                  <% if (@restaurants_sugestions[4].restaurant_logo_file_name != nil) %>
                    <a href="/restaurants/<%=  @restaurants_sugestions[4].id%>"> <%= image_tag @restaurants_sugestions[4].restaurant_logo.url(:thumb) , :class=>"rest_logo_thumb" %></a>
                  <% else %>
                    <a href="/restaurants/<%=  @restaurants_sugestions[4].id%>"><%= image_tag "default_rest_photo.png", :class=>"rest_logo_thumb"  %></a>
                  <% end %>
                </div>
                <div class="rest_sugestions_data" >
                  <h3><a href="/restaurants/<%=  @restaurants_sugestions[4].id%>"><%=  @restaurants_sugestions[4].name%></a></h3>
                  <h4><%=  @restaurants_sugestions[4].city%></h4>
                  <h4>Tipo Gastronomia:</h4>
                  <% c =  @restaurants_sugestions[4].restaurant_categories.where('restaurant_category_type=1')
                  s = ""
                  c.each{ |c|
                    s << c.name.to_s << " "
                  }
                %>
                  <h5><%=  s   %></h5>
                </div>
                <div class="clean">

                </div>
              </td>
              <td style="width: 33%" valign="top">
                <div class="rest_sugestions_photo">
                  <% if (@restaurants_sugestions[5].restaurant_logo_file_name != nil) %>
                    <a href="/restaurants/<%=  @restaurants_sugestions[5].id%>"> <%= image_tag @restaurants_sugestions[5].restaurant_logo.url(:thumb) , :class=>"rest_logo_thumb" %></a>
                  <% else %>
                    <a href="/restaurants/<%=  @restaurants_sugestions[5].id%>"><%= image_tag "default_rest_photo.png", :class=>"rest_logo_thumb"  %></a>
                  <% end %>
                </div>
                <div class="rest_sugestions_data" >
                  <h3><a href="/restaurants/<%=  @restaurants_sugestions[5].id%>"><%=  @restaurants_sugestions[5].name%></a></h3>
                  <h4><%=  @restaurants_sugestions[5].city%></h4>
                  <h4>Tipo Gastronomia:</h4>
                  <% c =  @restaurants_sugestions[5].restaurant_categories.where('restaurant_category_type=1')
                  s = ""
                  c.each{ |c|
                    s << c.name.to_s << " "
                  }
                %>
                  <h5><%=  s   %></h5>
                </div>
                <div class="clean">

                </div>
              </td>
            </tr>
    </table>
</div>
  <div class="clean"></div>
  <br/>
  <div class="restaurantsSugestions">
    <h1 class="restaurant_sugestions_titles">Restaurantes por distrito</h1>
    <br/>
    <table border="0" width="100%" style="margin-left: 15px;">
      <tr>
        <td>
          <%=  link_to "Lisboa", "/restaurants/search/Lisboa"  %>
        </td>
        <td>
          <%=  link_to "Porto", "/restaurants/search/Porto"  %>
        </td>
        <td>
          <%=  link_to "Braga", "/restaurants/search/Braga"  %>
        </td>
        <td>
          <%=  link_to "Setúbal", "/restaurants/search/Setubal"  %>
        </td>
        <td>
          <%=  link_to "Aveiro", "/restaurants/search/Aveiro"  %>
        </td>
      </tr>
      <tr>
        <td>
          <%=  link_to "Santarém", "/restaurants/search/Santarem"  %>
        </td>
        <td>
          <%=  link_to "Leiria", "/restaurants/search/Leiria"  %>
        </td>
        <td>
          <%=  link_to "Coimbra", "/restaurants/search/Coimbra"  %>
        </td>
        <td>
          <%=  link_to "Faro", "/restaurants/search/Faro"  %>
        </td>
        <td>
          <%=  link_to "Viseu", "/restaurants/search/Viseu"  %>
        </td>
      </tr>
      <tr>
        <td>
          <%=  link_to "Viana do Castelo", "/restaurants/search/Viana do Castelo"  %>
        </td>
        <td>
          <%=  link_to "R.A. Madeira", "/restaurants/search/Madeira"  %>
        </td>
        <td>
          <%=  link_to "R.A. Açores", "/restaurants/search/Açores"  %>
        </td>
        <td>
          <%=  link_to "Vila Real", "/restaurants/search/Vila Real"  %>
        </td>
        <td>
          <%=  link_to "Castelo Branco", "/restaurants/search/Castelo Branco"  %>
        </td>
      </tr>
      <tr>
        <td>
          <%=  link_to "Guarda", "/restaurants/search/Guarda"  %>
        </td>
        <td>
          <%=  link_to "Évora", "/restaurants/search/Évora"  %>
        </td>
        <td>
          <%=  link_to "Beja", "/restaurants/search/Beja"  %>
        </td>
        <td>
          <%=  link_to "Bragança", "/restaurants/search/Bragança"  %>
        </td>
        <td>
          <%=  link_to "Portalegre", "/restaurants/search/Portalegre"  %>
        </td>
      </tr>
    </table>
  </div>
</div>
<br/>