<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=ABQIAAAAAqRvdoQ-Av-Xfw3moBRRMBQtijYNZQXJkj7gjmqaPd8nhC25rBTvkyMmGez5mzYNfdqR3TbOKP4EBg" type="text/javascript"></script>
<script type="text/javascript">
  //Ir buscar as coordenadas do restaurante
<% coord = @restaurant.coordinates.split(',') %>

  $(document).ready(function() {
    
    $('.restButtons').corner("6px");

    $('.procimidades').corner("5px");
    $('.usersComentsTitle').corner("5px");
    $('.comment_content').corner("5px");

    
    $("#restMap").googleMap(<%=  coord[0] %>, <%=  coord[1] %>, 15, {
      controls: ["GSmallMapControl", "GMapTypeControl"],
      markers: $(".geo")
    });
    // Example to access the map object is below:
    $.googleMap.maps["restMap"].setMapType(G_HYBRID_MAP);

   
    //esconder botão de submit do form do star rating
    $('#ratings #restaurant_rating_submit').hide();
    $('#rating_message').hide();

    $("#starsUsers").stars({

      disabled: true, split: 4, starWidth: 16
      
      
    });

    $("#starsUsers").stars("select", <%=  @restaurant.average_rating %>);
    $("#star").stars({

      callback: function(){
        //Isto aqui é necessário porque o plugin é um fdp e esconde os radio buttons logo o valor deixava de ser passado no form e nunca
        //chegava ao server. Por isso foi criado um hidden field com o mesmo nome para passar o valor dado pelo starrating. Fucking shit
        $('#restaurant_rating_value').val($("#star").data("stars").options.value);
        //alert($("#star").data("stars").options.value);
        //Aki tenho que obrigar o form a ser submetido porque ele não é enviado sosinho pelo plugin quando se clica em algum lado.
        $('#ratings').submit();

      }
    });
	
  });
</script>
<div id="restaurant_show">
  <br/>
  <div id="restaurant_left">
    <div>
    <% if (@restaurant.restaurant_logo_file_name != nil) %>
      <%= image_tag @restaurant.restaurant_logo.url(:thumb) , :id=>"defaul_image"%>
    <% else %>
      <%= image_tag "default_rest_photo.png", :id=>"defaul_image" %>
    <% end %>
    <span id="rest_name"><%= @restaurant.name %></span>
    <span id="rest_owner">Propriedade de: <span class="rest_data"><%= @restaurant.owner_name.empty? ? "Não disponível!" :  @restaurant.owner_name %></span></span>
    <div id="usersRating"><span class="classificacao"id="classificacao">
        Classificação:
        <form>
          <div id="starsUsers">
            <input type="radio" name="newrate" value="1"/>
            <input type="radio" name="newrate" value="2"/>
            <input type="radio" name="newrate" value="3"/>
            <input type="radio" name="newrate" value="4"/>
            <input type="radio" name="newrate" value="5"/>
            <input type="radio" name="newrate" value="6"/>
            <input type="radio" name="newrate" value="7"/>
            <input type="radio" name="newrate" value="8"/>
            <input type="radio" name="newrate" value="9"/>
            <input type="radio" name="newrate" value="10"/>
            <input type="radio" name="newrate" value="11"/>
            <input type="radio" name="newrate" value="12"/>
            <input type="radio" name="newrate" value="13"/>
            <input type="radio" name="newrate" value="14"/>
            <input type="radio" name="newrate" value="15"/>
            <input type="radio" name="newrate" value="16"/>
            <input type="radio" name="newrate" value="17"/>
            <input type="radio" name="newrate" value="18"/>
            <input type="radio" name="newrate" value="19"/>
            <input type="radio" name="newrate" value="20"/>
          </div>
        </form>
      </span>

    </div>

    <% if logged_in? %>
      <span id="rating_message">Votação efectuada!</span>
      <div id="star">
        <%= render 'restaurant_ratings' %>
      </div>
    <% end %>
</div>
    <br/>   <br/>
    <span class="rest_labels">Descrição:</span><span class="rest_data"><%= @restaurant.description.nil? ? "Não disponível!" :  simple_format(@restaurant.description) %></span>
    <br/><br/>
    <span class="rest_labels">Informações Úteis:</span><br/><br/>

    <span class="rest_labels2">Tipo de gastronomia:</span>
    <span class="rest_data">

      <%   for  cat  in @restaurant.restaurant_categories
        if cat.restaurant_category_type == 1 %>
          <%=  cat.name + "." %>
        <%   end
      end    %>
    </span>
    <br/>
    <span class="rest_labels2">Preço médio por pessoa:</span>
    <span class="rest_data">

      <%
      for  cat  in @restaurant.restaurant_categories
        if cat.restaurant_category_type == 2  %>
          <%=  cat.name %>
        <%
        end
      end

    %>

    </span>
    <br/>
    <span class="rest_labels2">Telefone:</span>
    <span class="rest_data"><%=  @restaurant.phone_number.nil? ? "Não disponível!" :  @restaurant.phone_number  %></span>
    <br/>
    <span class="rest_labels2">Fax:</span>
    <span class="rest_data"><%=  @restaurant.fax.nil? ? "Não disponível!" :  @restaurant.fax  %></span>
    <br/>
    <span class="rest_labels2">Site oficial:</span>
    <span class="rest_data"><%=  @restaurant.site.empty? ? "Não disponível!" :  @restaurant.site  %></span>
    <br/>
    <span class="rest_labels2">E-mail:</span>
    <span class="rest_data"><%=  @restaurant.email.empty? ? "Não disponível!" :  @restaurant.email  %></span>
    <br/>
    <span class="rest_labels2">Morada:</span>
    <span class="rest_data"><%=  @restaurant.address.empty? ? "Não disponível!" :  @restaurant.address  %></span>
    <br/>
    <span class="rest_labels2">Código Postal:</span>
    <span class="rest_data"><%=  @restaurant.postal_code.empty? ? "Não disponível!" :  @restaurant.postal_code  %></span>
    <br/>
    <span class="rest_labels2">Localidade:</span>
    <span class="rest_data"><%=  @restaurant.location.empty? ? "Não disponível!" :  @restaurant.location  %></span>
    <br/>
    <span class="rest_labels2">Dias de descanço:</span>
    <span class="rest_data">
      <% if @restaurant.closed_days.size == 0 %>
      Aberto todos os dias da semana.
      <% end %>
      <%
      for  day  in @restaurant.closed_days
      %>
        <%=  day.week_day %>.&nbsp;
      <%

      end

    %>

    </span>
    <br/>
    <%= render 'users_comments' %>
    
  </div>
  <div id="restaurant_right">
    <div id="restOptions">
      <% fotos = @restaurant.restaurant_photos
      foto1 = fotos[0]
      fotos.delete_at(0)
    %>
      <div class="restButtons">
        <a rel="rest_group" href="<%= foto1.restaurant_photo.url(:medium) %>" title="<%= @restaurant.name %>">Fotos</a>
      </div>
      <%
      for foto in fotos
      %>
        <a rel="rest_group" href="<%= foto.restaurant_photo.url(:medium) %>" title="<%= @restaurant.name %>"></a>
      <% end   %>


      <div class="restButtons"style="margin-left: 5px;">
        Ementa
      </div>
      <div class="restButtons" style="margin-left: 5px;">
        Pratos
      </div>
    </div>
    <div id="localTitle">
      Localização
    </div>
    <div id="restFotos">
      <div id="restMap" style="width: 315px; height: 300px;">

      </div>
      <div class="geo" title="Bar">
        <abbr class="latitude" title="<%=  coord[0] %>"></abbr>
        <abbr class="longitude" title="<%=  coord[1] %>"></abbr>
      </div>
    </div>

    <div>
     <br/>
     <div class = "procimidades">
       O que pode encontar aqui perto:
     </div>
    </div>
  </div>
  <div id="limpesa"></div>
</div>