
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt" lang="pt">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-language" content="pt" />
    <title>@Portugal - Portal Turismo</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag 'jquery-1.4.4.min', 'rails','jquery-ui-1.8.10.custom.min','jquery.boxy','login','ddsmoothmenu.js',
      'jquery.alerts.js', 'jquery.corner.js','jquery.jnotify.min','jquery.footers','jquery.ba-resize', 'coin-slider',
      'jquery.ui.stars',  'jquery.fancybox-1.3.4', 'jquery.mousewheel-3.0.4.pack', 'galeriasImagens',
      'jquery.geolocationpicker', 'jquery.googlemaps' %>
    <%= yield :scripts %>
    <script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false'></script>
   
    <%= csrf_meta_tag %>
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <script type="text/javascript">

      ddsmoothmenu.init({
        mainmenuid: "smoothmenu1", //menu DIV id
        orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
        classname: 'ddsmoothmenu', //class added to menu's outer DIV
        //customtheme: ["#1c5a80", "#18374a"],
        contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
      })
      
      $(document).ready(function() {
        $('#coin-slider').coinslider({ width: 880, height: 240,  navigation: true, delay: 6000, links : false, opacity: 0.8 });
        $('.ultimasTitulos').corner("5px");
        $('.sugestoesTitulos').corner("5px");
      });
      

    </script>
  </head>
  <body >
    <div class="mainHeader">

      <div class="header" >
        <div id="ui_block_div" style=""></div>
        <% if logged_in? %>
          <script type="text/javascript">
            if(!$.browser.ie){
              $('#logout').corner("5px");$('#perfilButton').corner("5px");$('#conteudosButton').corner("5px");
            }

          </script>
          <div id="logout">
            <%= link_to "Sair", logout_path %>


          </div>
          <div id="perfilButton">
            <%= link_to "A minha conta", "/users/myprofile" %>


          </div>
        <div id="conteudosButton">
          <%= link_to "Os meus conteúdos", "/users/contents" %>
        </div>
          <div id="welcomeMessage">
            <span><%= current_user.name %>, bem vindo ao portal!</span>



          </div>

        <% else %>
          <script type="text/javascript">$('#login').corner("5px");$('#registo').corner("5px");$('#loginForm').corner("5px");</script>
          <div id="registo">
            <!--<a href="#formRegisto" class="boxy" title="Registo de Cliente">Registar</a>-->
            <%= link_to "Registar","/users/new", :remote => true %>

          </div>
          <div id="formRegisto" style="display: none;" class="boxy-content">

          </div>
          <div id="login">
            <a href="#">Login</a>


          </div>
          <div id="loginForm">
            <%= render :partial=>"/sessions/new" %>

          </div>
        <% end %>
        <div id="formPesquisa">
          <%= render :partial=>"search/simple" %>
        </div>
        <div class="menu" >
          <div id="smoothmenu1" class="ddsmoothmenu">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="#">Hotéis</a>
                <ul>
                  <li><a href="#">Lisboa</a></li>
                  <li><a href="#">Porto</a></li>
                  <li><a href="#">Setúbal</a></li>
                  <li><a href="#">Leiria</a></li>
                  <li><a href="#">Faro</a></li>
                  <li><a href="#">Outros Distritos</a></li>

                </ul>
              </li>
              <li><a href="/restaurants/">Restaurantes</a>
                <ul>
                  <li><a href="/restaurants/search/Lisboa">Lisboa</a></li>
                  <li><a href="/restaurants/search/Porto">Porto</a></li>
                  <li><a href="/restaurants/search/Setúbal">Setúbal</a></li>
                  <li><a href="/restaurants/search/Leiria">Leiria</a></li>
                  <li><a href="/restaurants/search/Faro">Faro</a></li>
                  <li><a href="/restaurants/">Outros Distritos</a></li>
                </ul>
              </li>
              <li><a href="#">Pontos de Interesse</a>
                <ul>
                  <li><a href="#">Lugares</a>
                    <ul>
                      <li><a href="#">Praias</a></li>
                      <li><a href="#">Centros Históricos</a></li>
                      <li><a href="#">Paisagens</a></li>
                      <li><a href="#">Miradouros</a></li>
                      <li><a href="#">Outros</a></li>
                    </ul>

                  </li>
                  <li><a href="#">Cinemas</a></li>
                  <li><a href="#">Teatros</a></li>
                  <li><a href="#">Museus</a></li>
                  <li><a href="#">Bares</a></li>
                  <li><a href="#">Discotecas</a></li>
                  <li><a href="#">Parques Temáticos</a></li>
                  

                </ul>
              </li>

              <li><a href="#">Eventos</a>
                <ul>
                  <li><a href="#">Concertos</a></li>
                  <li><a href="#">Exposições</a></li>
                  <li><a href="#">Festas</a></li>
                  <li><a href="#">Feiras</a></li>
                  <li><a href="#">Outros</a></li>
                </ul>
              </li>
              <li><a href="#">Blogue</a></li>
            </ul>

          </div>
        </div>
      </div>
    </div>

    <div class="main0" style="">

      <div class="main1" style="">

        <div id="contents"class="contents">


          <%= content_tag(:p, alert, :class => 'alert') if alert.present? %>
          <% if (notice.present?) %><script type="text/javascript"> $.jnotify("<%= notice %>", 4000);</script> <% end %>
          <%= yield %>


          <div id="wait" ></div><img id="waitimg" align="center"src="/images/wait.gif"/>
        </div>
      </div>
      <div id="footer"class="footer" ><div id="footerContents">Contacts - Services - Etc...</div></div>
    </div>
  </body>
</html>
